.s2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
.img4 {
  width: 480px;
  height: 800px;
}
.text4 {
  width: 500px;
  font-size: 36px;
  line-height: 45px;
}
.title4 {
  font-size: 16px;
  color: rgba(34, 53, 111, 1);
  padding-bottom: 50px;
}
.button {
  border: none;
  font-size: 16px;
  color: rgba(250, 182, 62, 1);
  margin-top: 100px;
}
